body 
{
  /*background-color:#44eebb;*/
}

#measureit_statusbar {
    background: url("status-icon.png") -20px 0 no-repeat;
    border: 1px inset;
}


#measureit_toolbar_button {
  list-style-image: url("measureit24.png");
}

toolbar[iconsize="small"] #measureit_toolbar_button {
  list-style-image: url("measureit16.png");
}

#measureit_back, #measureit_box, #measureit_first_click { cursor: crosshair; margin: 0; padding: 0; }

#measureit_back 
{ 
  background: url("lighter.png");
  border: 1px solid;
  position: fixed;
  z-index: 4721;
  top: 200; left: 100; 
  /*width: 100%; height: 100%; */
  width: 80%; height: 80%; 
  
}

#measureit_box, #measureit_toolbar, #measureit_first_click { display: none; position: fixed; }

#measureit_box { z-index: 4726; background: url("bluer.png"); border: 1px solid #000; }
#measureit_box div, #measureit_box div div { width: 100%; height: 100%; margin: 0; padding: 0; }
#measureit_box div { background: url("ruler-top.gif") -1px 0 repeat-x; }
#measureit_box div div { background: url("ruler-left.gif") 0 -1px repeat-y; }

#measureit_box.dragging { background: transparent none !important; border: 1px dotted #000; }
.dragging div, .dragging div div { background: transparent none !important; }

#measureit_ruler_left { cursor: move; margin: 0; padding: 0; }

#measureit_toolbar {
    z-index: 4727;
    /*width: 110px;*/
    width: 130px;
    background: #e0e4dc;
    color: #000;
    font-size: 7pt;
    margin: 0 0 0 5px;
    padding: 1px 1px 1px 8px;
    border: 1px outset #ccc;
}

#measureit_width, #measureit_height {
    float: left;
    background: transparent;
    cursor: auto;
    font: 7pt arial, sans-serif;
    margin: 0;
    padding: 3px 0 0 0;
    border: 0;
}
#measureit_height { margin: 0 0 0 8px; }

#measureit_clear, #measureit_off {
    display: block;
    background: transparent url("close.png") 0 0 no-repeat;
    width: 16px; height: 16px;
    cursor: default;
    margin: 0; padding: 0;
    border: 0;
}
#measureit_clear:hover, #measureit_off:hover { background-position: -16px 0; }
#measureit_clear:active, #measureit_off:active { background-position: -32px 0; }
#measureit_clear { float: right; }

#measureit_off { position: fixed; z-index: 4725; bottom: 2px; right: 2px; }

#measureit_save{
    display: block;
    background: transparent url("save.png") 0 0 no-repeat;
    width: 16px; height: 16px;
    cursor: default;
    margin: 0; padding: 0;
    border: 0;
}
#measureit_save:hover, #measureit_off:hover { background-position: -16px 0; }
#measureit_save:active, #measureit_off:active { background-position: -32px 0; }
#measureit_save { float: right; }

#savedBox
{       
  color:red;
  /*display:block;*/
  border:1px solid black;
  /*
  width: 100;
  height: 100;
  */
}